:root {
     //1ra opcion

     // --bg-color: #2e3239;
     // --bg-second-color: #26292b;
     // --p-hero-mobile-color: #ccc;
     // --p-hero-desktop-color: #6c6b6b;
     // --nav-contact-color: #000;
     // --primary-color: #ccc;
     // --second-color: #ccc;


     //2da opcion

     --bg-color: #2e3239;
     --bg-second-color: #26292b;
     --primary-color: #cebf9f;
     --second-color: #cebf9f;
     --p-hero-mobile-color: #ccc;
     --nav-contact-color: #000;
     --p-hero-desktop-color: #6c6b6b;


     //3ra opcion

     // --bg-color: #2e3239;
     // --bg-second-color: #26292b;
     // --primary-color: #5f7adb;
     // --second-color: #a2b2ee;
     // --nav-contact-color: #fff;
     // --p-hero-mobile-color: #ccc;
     // --p-hero-desktop-color: #6c6b6b;

     --navbar-height: 70px;
}